@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}


* {
    margin: 0px;
    padding: 0px;
    
   
}

html, body {
    
    min-height: 100vh;
    background-color: darkgray ;
    font-family: var(--fonte1);
    font-size: 100%;
    /* permitirá que o em funcione sem proplemas em todos os navegaros */
}

header {
    background-color: black;
    color: white;
    /* mudar a cor das letras */
    text-align: center;
    /* definir o alinhamento horizontal do texto */
   
   
}

header > h1 {
    padding-top: 50px ;
    font-variant: small-caps;
    /* letras minúsculas são convertidas em maiúsculas. No entanto, as letras
    maiúsculas aparecem em um tamanho de fonte menor */
    font-size: 6em;
    font-family: var(--fonte2) ;
}

header > p {
    padding-bottom: 50px;
    /* função gerar um espaço ao redor do conteúdo de um elemento, dentor de uma borda definida */
}

/* seletor genênico suas propriedades serão aplicadas em todos elementos*  */
a {
    color: white;
    text-decoration: none;
    /* ira remover o sublinhado dos links */
    font-weight: bolder;
    /* vai alterar a grosura */
}

/* seletor tem peso 1 pseudo-classe tem peso 10
tenho o combinador de espaço: sua função selecior todos os filhos  do seletor e os descendentes, ou seja links que estão dentro de outras tags que não header ou footer */
header a:hover, footer a:hover {
    text-decoration: underline;
}

/* seletor genêrico irá servir para todas as section */
section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    /* padding-top/bottom irá permitir a configuração do efito paralaxi */
    line-height: 2.5em;
    /* cria um espaço entre as linas  */
   

}

section > pre {
    font-family: var(--fonte3);
    font-size: 2em;
}

section.normal {
    background-color: white;
    color: black;
}



section.imagem {
    background-color: rgb(51, 51, 51) ;
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.308);
    background-size: cover;
}

section.imagem > pre {
    display: inline-block;
    /* fará o conteudo dentro se ajustar com o tamanho da tela */
    background-color: rgba(0, 0, 0, 0.486);
    height: 282px;
    padding: 20px;
    text-shadow: 3px 3px 1px rgba(0, 0, 0, 0.308);
}

/* as section com os id jundo  às configurações da saction padding-top/bottom   permite a formação do efeito paralaxi*/
section.img01 {
    background-image: url('../imagens/background001.jpg');
    background-repeat: no-repeat;
    /* toda imagem inseirda será repitida até ocupar todo espaço disponível.
    No-repeat inpedirá isto. */
 
    /* A áread do conteúdo será totamente coberta, porem algumas partes das imagems podem são ser visíveis */
    background-attachment: fixed ; 
    background-position: right center;
}

section.img02 {
    background-image: url('../imagens/background002.jpg');
    background-repeat: no-repeat;

    background-attachment: fixed ; 

    background-position: right center;
} 

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}